.container {
    display : flex;
}

.centered {
    margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  margin: auto;
  width:100%;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  margin: auto;
  width:100%;
  text-align: center;
}

.spaceAround {
    justify-content: space-around;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 33%;
}

.button__success {
   background-color: #4CAF50;
}
.button__danger {
   background-color: #f44336;
}

.hover:hover{
    cursor: pointer
}
 /*App specific css*/
.app {
    width:50vh;
    min-width: 280px;
    height:95vh;
    min-height:550px;
}

.header {
    background-color: #6750B5;
    height:10%
}

.section {
    background-image: linear-gradient(#3D63B3, #6D4EB5);
    height:90%;
}

.calendar {
    height:65%;
}

.calendar__month{
    height: 17%;
}

.calendar__body{
    height: 83%;
}

.calendar__weekdays{
    height: 15%;
}

 .week {
   box-sizing: border-box;
   border: 2px solid transparent;
}

.week:hover{
    border: 2px solid #b47d4c;
    cursor: pointer;
} 

.week--selected{
    border: 2px solid #b47d4c;
}

.calendar__days {
    height:85%;
}

.buttonsContainer {
    height:35%;
}

.textColor {
    color: white; 
}

.textWrapper{
    width: 12%; 
    height: 15%;
    margin: 6px 0;
    display:flex;
}

h3{
    margin: auto;
    color: white;
}

h5{
     margin: auto;
     color: white;
}

fieldset {
    border-width: 0px ! important;
}

.button--arrow {
    font-size: 1.5em; 
    color: white;
    border: 0;
    background-color: transparent;
}

.label {
    margin-right: 30px;
} 
