.container {
    display : flex;
}

.centered {
    margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  margin: auto;
  width:100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  margin: auto;
  width:100%;
}

.textWrapper{
    width: 40px; 
    text-align: 'center'; 
}

.expandHor {
    width:100%;
}


.textColor {
    color: white; 
}

.hover:hover{
    cursor: pointer
}



.day{
    width: 50px;
    height: 50px;
    background: red;
    margin: auto;
}

@media (max-width: 349px) {
  .react-datepicker-wrapper {
    margin-top:25px;
  }
}

 @media (max-width: 270px) {
  .react-datepicker-wrapper {
    margin-top:50px;
  } 
}
